.heading {
  /* font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: blue; */
}

/* body {
  background-color: #c4eeea;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

h1 {
  padding: 20px 20px;
  background-color: burlywood;
  color: #fa9191;
  border-radius: 20px;
  border: 5px solid #000000;
}
span {
  color: #fa9191;
} */
